apiVersion: v1
kind: Service
metadata:
  name: service-monitor
  labels:
    app: service-monitor
spec:
  type: ClusterIP
  selector:
    app: service-monitor
  ports:
    - name: http
      port: 80
      targetPort: 8000
